<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Impression Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/4e5ceaba89.js" crossorigin="anonymous"></script>   
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <style>
     tr td img {
          width: 100px ;
          height: auto;
        }
    </style>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"><a href="#" class="web-url">www.impression.com</a></div>
                    <div class="col-md-6">
                        </div>
                    <div class="col-md-3">
                        <span class="ph-number">Call : 800 1234 5678</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/index.html"><img src="/images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item active">
                                <a href="/admin" class="nav-link">Event</a>
                            </li>
                            <li class="navbar-item">
                                <a href="/user" class="nav-link">User</a>
                            </li>
                        
                        </ul>
                        
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="title recomended-sec" >
                <h2>Edit Impression</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form action="<%- data.id %>" method="POST" role="form" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="form-title">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%- data.name %>">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="form-title">Speaker:</label>
                            <input type="text" class="form-control" id="author" name="author" value="<%- data.author %>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="form-title">Type:</label>
                            <br>
                            <select id="type" name="type" value="<%- data.type %>">
                                <option value="<%- data.type %>"><%- data.type %></option>
                                <option value="Soon">Soon</option>
                                <option value="Doing">Doing</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="type" name="type" value="<%- data.type %>"> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="form-title">Time:</label>
                            <input type="text" class="form-control" id="time" name="time" value="<%- data.time %>">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="form-title">Where:</label>
                            <input type="text" class="form-control" id="where" name="where" value="<%- data.local %>">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="form-title">Audience:</label>
                            <input type="text" class="form-control" id="aud" name="aud" value="<%- data.audi %>">
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="form-key">Historical Cost:</label>
                            <input type="number" min="0" class="form-control" id="pre_cost" name="pre_cost" value="<%- data.pre_cost %>"> 
                        </div>
                        <div class="form-group col-md-4">
                            <label for="form-key">Price:</label>
                            <input type="number" min="0" class="form-control" id="cur_cost" name="cur_cost" value="<%- data.cur_cost %>">
                        </div>
                            
                            <div class="form-group col-md-4">
                                <label for="form-title">Categ:</label>
                                <br>
                                <select id="categ" name="categ">
                                    <option value="<%- data.categ %>"><%- data.categ %></option>
                                    <option value="Kinh tế">Kinh tế</option>
                                    <option value="Kỹ năng sống">Kỹ năng sống</option>
                                    <option value="Lịch sử">Lịch sử</option>
                                    <option value="Ngoại ngữ">Ngoại ngữ</option>
                                    <option value="Thiếu nhi">Thiếu nhi</option>
                                    <option value="Văn học">Văn học</option>
                                    <option value="Y học">Y học</option>
                                </select>
                                <!-- <input type="text" class="form-control" id="categ" name="categ" value="<%- data.categ %>"> -->
                            </div>
                    </div>

                        <div class="form-group">
                            <label for="form-descripton">Detail:</label>
                            <textarea class="form-control" name="detail" id="detail" rows="5"><%- data.detail %></textarea>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                Image: <img width="150px" src="../upload/<%- data.image %>" alt="">
                            </div>
                            <div class="col-md-6">
                                <label for="form-title">Upload image:</label>
                                <input type="file" class="form-control" id="image" name="image">
                            </div>
                        </div>
                        <br>
                        <a onclick="return confirm('Are you sure? Your changes will not be saved!')" href="../../admin"><button type="button" class="btn btn-primary">Back</button></a> <button type="submit" class="btn btn-primary float-right">Submit</button>
                        <!-- <div class="text-center"><button type="submit" class="btn btn-primary">Submit</button></div> -->
                        
                    </form>
                    <br>    
                </div>
        
                    
                
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="address">
                        <h4>Our Address</h4>
                        <h6>The Impression Theme, 4th Store
                        Beside that building, USA</h6>
                        <h6>Call : 800 1234 5678</h6>
                        <h6>Email : info@impression.com</h6>
                    </div>
                    <div class="timing">
                        <h4>Timing</h4>
                        <h6>Mon - Fri: 7am - 10pm</h6>
                        <h6>​​Saturday: 8am - 10pm</h6>
                        <h6>​Sunday: 8am - 11pm</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="navigation">
                        <h4>Navigation</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="shop.html">Products</a></li>
                        </ul>
                    </div>
                    <div class="navigation">
                        <h4>Help</h4>
                        <ul>
                            <li><a href="faq.html">FAQ’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form">
                        <h3>Liên hệ với chúng tôi</h3>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <input placeholder="Name" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="email" placeholder="Email" required>
                                </div>
                                <div class="col-md-12">
                                    <textarea placeholder="Messege"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn black">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>(C) 2017. All Rights Reserved. Impression Wordpress Theme</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="google"><i class="fa fa-google-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>

