<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Impression</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/4e5ceaba89.js" crossorigin="anonymous"></script>   
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

   
    <style>
        .avatar {
            vertical-align: middle;
            width: 27px;
            height: 27px;
            border-radius: 50%;
        }
        #img_cart{
            width: 60px ;
          height: auto;
        }
    </style>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"><a href="#" class="web-url">www.impression.com</a></div>
                    <div class="col-md-6">
                        </div>
                    <div class="col-md-3">
                        <span class="ph-number">Call : 800 1234 5678</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="../index.html/<%- char.id %>"><img src="/images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item">
                                <a href="../index.html/<%- char.id %>" class="nav-link">Home</a>
                            </li>
                            <li class="navbar-item">
                                <a href="../shop.html?user=<%- char.id %>" class="nav-link">Event</a>
                            </li>
                            <li class="navbar-item">
                                <a href="../about.html/<%- char.id %>" class="nav-link">About</a>
                            </li>
                            <li class="navbar-item">
                                <a href="../faq.html/<%- char.id %>" class="nav-link">FAQ</a>
                            </li>
                            <li class="navbar-item">
                                <a href="../dashboard/<%- char.id %>"><img src="/upload/<%- char.image %>" alt="Avatar" class="avatar"></a>
                            </li>
                            <li class="navbar-item">
                                <a href="../../login.html" class="nav-link">Logout</a>
                            </li>
                            
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="title recomended-sec" >
                <a href="/user/dashboard/<%- char.id %>"><h2>DashBoard</h2></a>  <a href=""><h2>Impression CART</h2></a>
                <hr>
            </div>
            
            <div class="container mb-4">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col"> </th>
                                        <th scope="col">Tên</th>
                                        <th scope="col">Thể loại</th>
                                        <th scope="col" class="text-center">Giá vé</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%var money = 0; for(var i=0; i<100;i++){ %>
                                        <%data.rows.forEach(function(item){ %>
                                            <% if(item.id==char.book[i]) {%>
                                                <% money = parseInt(money) + parseInt(item.cur_cost); %>
                                            <tr>
                                                <td><img id="img_cart" src="/upload/<%= item.image %>" alt="img"></td>
                                                <td><a href="../../product/?user=<%- char.id %>&product=<%- item.id %>"><%= item.name %></a></td>
                                                <td><%= item.categ %></td>
                                                <td class="text-center"><%= item.cur_cost %></td>
                                                <td class="text-right">
                                                <a onclick="return confirm('Bạn chắc chắn muốn xóa sản phẩm?')" href="/buycart/delete?user=<%=char.id%>&product=<%= item.id %>"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button></a>
                                                
                                            </tr>
                                            <%}%>
                                        <%})%>
                                    <%}%>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Tổng</strong></td>
                                        <td class="text-center"><strong><%- money %></strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-sm-12  col-md-6">
                                <a href="../shop.html?user=<%- char.id %>"><button class="btn btn-block btn-light">Tiếp tục</button></a>
                                
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                                <a onclick="return confirm('Comming soon!')" href="#"><button class="btn btn-lg btn-block btn-success text-uppercase">Thanh toán</button></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
            
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="address">
                        <h4>Our Address</h4>
                        <h6>The Impression Theme, 4th Store
                        Beside that building, USA</h6>
                        <h6>Call : 800 1234 5678</h6>
                        <h6>Email : info@impression.com</h6>
                    </div>
                    <div class="timing">
                        <h4>Timing</h4>
                        <h6>Mon - Fri: 7am - 10pm</h6>
                        <h6>​​Saturday: 8am - 10pm</h6>
                        <h6>​Sunday: 8am - 11pm</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="navigation">
                        <h4>Navigation</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="shop.html">Products</a></li>
                        </ul>
                    </div>
                    <div class="navigation">
                        <h4>Help</h4>
                        <ul>
                            <li><a href="faq.html">FAQ’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form">
                        <h3>Liên hệ với chúng tôi</h3>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <input placeholder="Name" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="email" placeholder="Email" required>
                                </div>
                                <div class="col-md-12">
                                    <textarea placeholder="Messege"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn black">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>(C) 2017. All Rights Reserved. Impression Wordpress Theme</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="google"><i class="fa fa-google-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>


